= simple_form_for answer, :url => answers_path, :html => {:class => 'form-inline', :remote => true, :mrthod => 'post'} do|f|
  = f.input :content, :input_html => {:rows => 10, :cols => 80, :style =>'width:auto;'}
  = f.input :user_id, :as => :hidden, :input_html => {:value => current_user.id}
  = f.input :question_id , :as => :hidden
  = f.submit :Save, :class => 'btn btn-primary' 
