!!!
%html{:lang => :en}
  %head
    %meta{:charset => "utf-8"}/
    %title QnA Forum
    %meta{:content => "QnA Forum", :name => :description}/
    %meta{:content => "miheersalunke", :name => :author}
    = render "shared/include_resources"

  %body
    .navbar
      .navbar-inner
        .container
          - if user_signed_in?
            %a.brand{:href => root_url} QnA Forum
          - if current_user
            %ul
              %li
                = link_to "Questions", questions_url
          %p.pull-right
            - if user_signed_in?
              %a{:href => "#"} 
                = current_user.email
              = link_to "Logout", destroy_user_session_path, :method => :delete
            - else
              = link_to "Login", new_user_session_path

    .container
      .content
        = render :partial => "shared/flash_messages", :locals => {:flash => flash}
        = yield  
    %footer.container-fluid
      %p &copy; Company #{Date.today.year}
